[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none
